@use '../../utilities' as *;

.info {
    height: max-content;
    padding: 2em 3em;
    h4 {
        font-size: $small;
        font-weight: $xBold;
        text-transform: uppercase;
    }
    .is-flex {
        flex-direction: column;
        gap: 2em;
        div {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}