@use '../utilities' as *;

footer {
    background-color: $lightBlue;
    .nav-container {
        height: 15em;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 2em 0 1em 0;
        img {
            height: 1.8em;
            transition: .30s ease;
        }
        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 0.8rem;
            color: rgb(160, 160, 160);
        }
        .is-flex {
            margin-top: 1em;
            gap: 2em;
        }
    }
}


