@use '../utilities' as *;

header {
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    transition: .3s ease;
    h2 {
        font-size: $med;
        font-weight: $normal;
        color: #000;
        transition: .30s ease;
    }
}




