@use '../utilities' as *;

@media (min-width: 992px) {
    
    header {
        h2:hover {
            color: #9fd3e8;
        }
    }

    span {
        display: inline;
    }

    .gn {
        a:hover {
            color: #9fd3e8;
        }
        img:hover {
            transform: translateY(-4px);
        }
    }
    
    .btn:hover {
        color: #fff;
        transform: translateY(-4px);
    }

    .home-landing {
        text-align: left;
        p {
            font-size: 1.2rem;
        }
        .btn {
            font-size: 1.1rem;
        }
        .is-flex {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            h1 {
                font-size: 3.5rem;
                line-height: 1.3;
                flex-basis: 60%;
                max-width: 60%;
            }
            img {
                padding-top: 4.5em;
                margin-left: 0;
                margin-right: 0;
                flex-basis: 45%;
                max-width: 45%;
            }
        }
    }

    .artifact {
        .col-1 {
            flex-basis: 55%;
            max-width: 55%;
        }
        .col-2 {
            flex-basis: 45%;
            max-width: 45%;
            .desc {
                .title {
                    font-size: 3rem;
                }
            }
        }
    }

    .about {
        height: 700px;
        flex-direction: row;
        align-items: center;
        gap: 0; 
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            &:before {
                left: 10%;
                width: 80%; 
            }
            img {
                width: 20em;
            }
        }
        .col-2 {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .proj-landing {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        img {
            flex-basis: 55%;
            max-width: 55%;
        } 
    }

    footer {
        img:hover {
            transform: translateY(-4px);
        }
    }
}