@use '../utilities' as *;

@media (min-width: 992px) {
    
    header {
        h2:hover {
            color: #9fd3e8;
        }
    }

    .gn {
        a:hover {
            color: #9fd3e8;
        }
        img:hover {
            transform: translateY(-4px);
        }
    }
    
    .home-landing, .projects, .about, .proj-landing, .info {
        max-width: 970px;
    }
    
    .btn:hover {
        color: #fff;
        transform: translateY(-4px);
    }

    .home-landing {
        p {
            font-size: 1.2rem;
        }
        .btn {
            margin-top: 3em;
            font-size: 1.1rem;
        }
        &:before {
            height: 14rem;
            width: 14rem;
            top: 70%;
        }
        &:after {
            height: 15rem;
            width: 15rem;
            top: 55%;
            right: 11%;
        }
    }

    .artifact {
        .col-1 {
            flex-basis: 55%;
            max-width: 55%;
            img {
                transition: .3s ease-in;
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
        .col-2 {
            flex-basis: 45%;
            max-width: 45%;
            .desc {
                .title {
                    font-size: 3rem;
                }
            }
        }
    }


    .about {
        height: 90vh;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        gap: 0; 
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            &:before {
                left: 10%;
                width: 80%; 
            }
            img {
                width: 75%;
            }
        }
        .col-2 {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .proj-landing {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        img {
            flex-basis: 55%;
            max-width: 55%;
        } 
    }

    footer {
        img:hover {
            transform: translateY(-4px);
        }
    }
}