@use '../utilities' as *;

@media (min-width: 992px) {
    
    header {
        h2:hover {
            color: #9fd3e8;
        }
    }

    span {
        display: inline;
    }

    .gn {
        a:hover {
            color: #9fd3e8;
        }
        img:hover {
            transform: translateY(-4px);
        }
    }
    
    .btn:hover {
        color: #fff;
        transform: translateY(-4px);
    }

    .home-landing {
        min-height: 80vh;
        text-align: left;
        p {
            font-size: 1.2rem;
        }
        a {
            margin: 0;
            margin-right: auto;
        }
        .btn {
            font-size: 1.1rem;
        }
        .is-flex {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            h1 {
                font-size: 3.5rem;
                line-height: 1.3;
                flex-basis: 55%;
                max-width: 55%;
                br {
                    display: block;
                }
            }
            img {
                padding-top: 4.5em;
                margin-left: 0;
                margin-right: 0;
                flex-basis: 45%;
                max-width: 45%;
            }
        }
    }

    .projects {
        gap: 6em;
    }

    .artifact {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 1em 0.5em;
        &:nth-child(2) {
            flex-direction: row;
            .col-2 {
                padding-right: 1.5em;
                padding-left: 0;
                text-align: right;
            }
        }
        .col-1 {
            flex-basis: 55%;
            max-width: 55%;
        }
        .col-2 {
            flex-basis: 45%;
            max-width: 45%;
            .desc {
                margin-bottom: 3em;
                .title {
                    font-size: 3rem;
                }
            }
        }
    }

    .about {
        min-height: 70vh;
        flex-direction: row;
        align-items: center;
        gap: 0; 
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            img {
                width: 20em;
            }
        }
        .col-2 {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .proj-landing {
        height: 700px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        img {
            flex-basis: 55%;
            max-width: 55%;
        } 
    }

    .btn-group.is-flex {
        margin-bottom: 0;
        .outline {
            &:hover {
                color: $blue;
            }
        }
    }

    footer {
        img:hover {
            transform: translateY(-4px);
        }
    }
}