@use '../utilities' as *;

    
@media (min-width: 768px) {

    header {
        padding: 1em 2em;
    }

    .home-landing, .projects, .about, .proj-landing, .sb {
        padding-left:  2em;
        padding-right: 2em;
    }

    .nav-container {
        align-items: center;
    }

    .gn {
        display: block;
        position: static;
        margin-left: auto;
    }
    .gn-trig {
        display: none;
    }
    .gn {
        a {
            padding: 0em 1.6em;
            font-size: $small;
            font-weight: $light;
            transition: .30s ease;  
            display: inline;
            &:last-child {
                padding-right: 0;
            }
        }
        img {
            padding: 0;
            margin-bottom: 4px;
            height: 1.2em;
            transition: .35s ease;
        }
        .is-flex li:nth-child(3) {
            display: none;
        }
    }
    .gn-items {
        flex-direction: row;
        position: static;
        height: 2em;
        justify-content: flex-end;
        background-color: #fff;
        border-left: none;
    }

    .home-landing {
        .is-flex {
            h1 {
                font-size: 3em;
            }
            img {
                max-width: 60%;
            }
        }
    }

    .artifact {
        .col-1 {
            img {
                max-height: 40%;
            }
        }
    }

    .about {
        .col-2 {
            width: 70%;
        }
    }

}