@use '../utilities' as *;

    
@media (min-width: 768px) {

    header {
        padding: 1em 2em;
    }

    .home-landing, .projects, .about, .proj-landing, .sb {
        padding-left:  2em;
        padding-right: 2em;
    }

    .gn {
        display: block;
        position: static;
        margin-left: auto;
    }
    .gn-trig {
        display: none;
    }
    .gn {
        a {
            margin-top: 0;
            padding: 0em 1.6em;
            font-size: $small;
            font-weight: $light;
            transition: .30s ease;  
            &:last-child {
                padding-right: 0;
            }
        }
        img {
            padding: 0;
            margin-bottom: 4px;
            height: 1.2em;
            transition: .35s ease;
        }
        .is-flex li:nth-child(1) {
            display: none;
        }
    }
    .gn-items {
        flex-direction: row;
        position: static;
        height: 5vh;
        justify-content: flex-end;
        background-color: #fff;
        border-left: none;
    }

    .home-landing {
        .is-flex {
            h1 {
                font-size: 3em;
            }
            img {
                max-width: 60%;
            }
        }
    }

    .artifact {
        .col-1 {
            img {
                max-height: 40%;
            }
        }
    }

    .about {
        .col-1 {
            &:before {
                top: 2px;
                left: 28%;
                height: 100%;
                width: 44%; 
            }
        }
        .col-2 {
            width: 70%;
        }
    }

    // .proj-landing {
    //     height: 650px;
    //     flex-direction: row-reverse;
    //     justify-content: center;
    //     align-items: center;
    //     img {
    //         flex-basis: 55%;
    //         max-width: 55%;
    //     } 
    // }

    // .btn-group.is-flex {
    //     margin-top: 3em;
    //     margin-bottom: 0;
    // }

    .sb {
        display: block;
        padding: 0 1.5em 10em;
        max-width: 1200px;
        margin: 0 auto;
    }

}