@use '../utilities' as *;

@media (min-width: 1200px) {
    
    header {
        padding: 1em 3em;
    }

    .home-landing, .projects, .about, .proj-landing, .info, .overview, .more-projects {
       max-width: 1280px;
       padding-left: 3em;
       padding-right: 3em;
    }

    .home-landing {
        .is-flex {
            h1 {
                font-size: 4.2rem;
            }
            img {
                padding-top: 5em;
            }
        }
    }

    .projects {
        gap: 8em;
    }

    .artifact {
        .col-2 {
            .desc {
                h3 {
                    font-size: 3em;
                }
            }
        }
    }

    .about {
        .col-1 {
            &:before {
                left: 14%;
                width: 72%; 
            }
            img {
                width: 25em;
            }
        }
        .col-2 {
            margin-top: 1em;
            h2 {
                font-size: $lrg;
            }
        }
    }

    .proj-landing {
        gap: 4em;
        h1 {
            font-size: 3rem;
        }
        .col-2 {
            flex-basis: 40%;
            min-width: 40%;
            .btn {
                margin-top: 3em;
            }
        }
    }
}