
@media (min-width: 450px) {
    
    header {
        padding: 1em 1.5em;
    }

    .home-landing, .projects, .about, .proj-landing {
        padding-left:  1.5em;
        padding-right: 1.5em;
    }

    .home-landing {
        .is-flex {
            img {
                width: 70%;
            }
        }
    }

    .about {
        .col-1 {
            img {
                width: 18em;
            }
        }
        .col-2.is-flex {
            gap: 2em;
        }
    }

    .proj-landing {
        img {
            width: 80%;
            margin: 0 auto;
            border-radius: 5px;
            cursor: default;
        }
    }
}