
@media (min-width: 450px) {
    
    header {
        padding: 1em 1.5em;
    }

    .home-landing, .projects, .about {
        padding: auto 1.5em;
    }

    .home-landing {
        height: 700px;
        img {
            width: 70%;
        }
    }

    .about {
        .col-1 {
            &:before {
                left: 18%;
                width: 64%;
            }
            img {
                width: 18em;
            }
        }
        .col-2.is-flex {
            gap: 2em;
        }
    }
}