@use '../utilities' as *;

@media (min-width: 375px) {

    .projects {
        gap: 4em;
    }

    .btn-group.is-flex {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;
    }

}