@use '../utilities' as *;

@media (min-width: 320px) {
    
    .home-landing, .projects, .about, .proj-landing, .info, .overview, .more-projects {
        max-width: 450px;
    }

    .proj-landing {
        height: 90vh;
    }

    .btn-group.is-flex {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;
    }
}