@use '../utilities' as *;

@media (min-width: 320px) {

    .proj-landing {
        min-height: 90vh;
    }

    .btn-group.is-flex {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;
    }
}