@use '../utilities' as *;

.btn {
    font-family: $fontFam;
    cursor: pointer;
    background: none;
    border: none;
    background-color: $tertiaryBg;
    width: fit-content;
    padding: 0.5em 1em;
    transition: .45s ease;
    position: relative;
}