@use '../utilities' as *;

body {
    background-color: $white;
    font-family: $fontFam;
    main {
        overflow: hidden;
    }
}

.home-landing, .projects, .about, .proj-landing, .skills, .overview, .more-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em;
    margin-right: auto;
    margin-left: auto;
}

.nav-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}