@use '../utilities' as *;

.gn {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    a {
        margin-top: -50px;
        font-size: 1.2rem;
        font-weight: $light;
        color: #000; 
    }
    img {
        padding: 0 0.4em;
        height: 1em;
    }
}
.gn-trig {
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    justify-content: flex-end;
    display: flex;        
    flex-basis: 100%;
}
.gn-items {
    position: absolute;
    right: 0px;
    top: -50px;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}
.js-menu-item, .js-menu-bg {
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate(100%, 0); 
    opacity: 0;
}

