@use '../../utilities' as *;

header {
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    background-color: $primaryBg;
    justify-content: space-between;
    transition: .3s ease;
    h2 {
        font-size: $med;
        font-weight: $normal;
        color: #000;
        transition: .30s ease;
    }
}

// Navigation
.nav-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}
.gn {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    a {
        margin-top: -50px;
        font-size: 1.2rem;
        font-weight: $light;
        color: #000; 
    }
    img {
        padding: 0 0.4em;
        height: 1em;
    }

}
.gn-trig {
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    justify-content: flex-end;
    display: flex;        
    flex-basis: 100%;
}
.gn-items {
    position: absolute;
    right: 0px;
    top: -50px;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    background-color: $tertiaryBg;
    transform: translateX(100%);
    transition: transform .5s ease-in;
}
.nav-active {
    transform: translateX(0%);
}




