@use '../../utilities' as *;

.projects {
    padding-top: 4em;
    height: max-content;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4em;
    .artifact {
        .col-1 {
            img {
                width: 100%;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            }
        }
        .col-2 {
            margin-top: 1.5em;
            .align {
                .title {
                    font-size: 2.5rem;
                    font-weight: $bold;
                    margin-bottom: 0.5em;
                    color: #9fd3e8;
                }
                .desc {
                    font-size: 1.2rem;
                    color: rgb(160, 160, 160);
                }
                .skills {
                    display: flex;
                    flex-direction: row;
                    gap: 1.5em;
                    margin-top: 3em;
                    justify-content: flex-start;
                    padding: 0;
                    li {
                        font-weight: $light;
                    }
                }
            }
        }
    }
    .image-hover {
        .overlay {
            .ol-title {
                display: none;
            }
        }
    }
}