@use '../../utilities' as *;

.is-flex {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: $fontFam;
    cursor: pointer;
    background: none;
    border: none;
    background-color: $tertiaryBg;
    width: fit-content;
    padding: 0.5em 1em;
    transition: .45s ease;
    position: relative;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
    transform: translateY(100%);
}
