@use '../../utilities' as *;

.is-flex {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: $fontFam;
    cursor: pointer;
    background: none;
    border: none;
    background-color: $tertiaryBg;
    width: fit-content;
    padding: 0.5em 1em;
    transition: .45s ease;
    position: relative;
}

img {
    cursor: pointer;
}

.hidden {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    &.show {
        transform: translateX(0);
        opacity: 1;
    }
    @media (min-width: 768px) {
        transition: 1s all ease;
    }
}