@use '../../utilities' as *;

h1, h2 {
    font-weight: $bold;
}

a {
    text-decoration: none;
    display: block;
}

p {
    font-weight: $normal;
    font-size: $small;
    line-height: $lineHeight;
}