@use '../../utilities' as *;

.projects {
    padding-top: 4em;
    height: max-content;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4em;
}

.artifact {
    a {
        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
        p {
            display: none;
        }
    }
    .col-2 {
        margin-top: 2em;
        .desc {
            h3 {
                font-size: $lrg;
                font-weight: $bold;
            }
            p {
                color: rgb(160, 160, 160);
                margin-bottom: 0.2em;
            }
            ul {
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                margin-top: 3em;
                justify-content: flex-start;
                padding: 0;
                li {
                    font-weight: $light;
                }
            }
        }
    }
}