@use '../utilities' as *;
@use '../components' as *;

// Landing

.home-landing {
    height: 600px;
    padding-top: 3em;
    gap: 1em;
    line-height: 1.4;
    text-align: center;
    p {
        color: rgb(160, 160, 160);
    }
    a {
        margin: 0 auto;
    }
    .btn {
        margin-top: 2em;
    }
    .is-flex {
        flex-direction: column;
        gap: 1.5em;
        h1 {
            font-size: $lrg;
            br {
                display: none;
            }
        }
        img {
            margin: 0 auto;
            cursor: default;
        }
    }
}

// Projects

.projects {
    padding-top: 3em;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3em;
}

.artifact {
    background-color: rgb(251, 251, 251);
    padding: 2em;
    border-radius: 8px;
    text-align: center;
    img {
        width: 100%;
        border-radius: 5px;
    }
    .col-2 {
        margin-top: 2em;
        .desc {
            margin-bottom: 3em;
            h3 {
                font-size: $lrg;
                font-weight: $bold;
            }
            p {
                color: rgb(160, 160, 160);
                margin-bottom: 0.2em;
            }
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

// About

.about {
    gap: 2.5em;
    padding-top: 5em;
    padding-bottom: 5em;
    .col-1 {
        text-align: center;
        position: relative;
        img {
            width: 14em;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        }
        // &:before {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: -3px;
        //     left: 2.5%;
        //     height: 103%;
        //     width: 95%;
        //     border-radius: 50% 25%;
        //     background-color: #9fd3e8;
        //     opacity: 0.2;
        //     z-index: -1;
        // }
    }
    .col-2.is-flex {
        flex-direction: column;
        gap: 1.5em;
        p {
            font-weight: $light;
        }
    }   
}