@use '../utilities' as *;
@use '../components' as *;

// Landing

.proj-landing {
    margin-top: 5em;
    height: 750px;
    gap: 2em;
    h1 {
        font-size: $lrg;
    }
    img {
        width: 100%;
        border-radius: 5px;
        cursor: default;
    }
 }

 .intro {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    p {
        line-height: 1.8;
    }
    p:nth-of-type(1) {
        color: rgb(160, 160, 160);
    }
    p:nth-of-type(2) {
        margin-top: 0.5em;
    }
}

.btn-group.is-flex {
    flex-direction: column;
    gap: 1em;
    margin: 2em 0 6em 0;
    .filled {
        padding: 0.5em 1.8em;
    }
    .outline {
        background-color: transparent;
        border: 1px solid #9fd3e8;
        color: #000;
    }
}

 