
@media (min-width: 450px) {
    
   .home-landing {
        h1 {
            &:before {
                height: 6em;
                width: 6em;
                top: 6em;
                left: 6em;
            }
            &:after {
                height: 6em;
                width: 6em;
                top: 9em;
                left: 9em;
            }
        }
    } 

    .about {
        .col-1:before {
            top: -8px;
            left: 6%;
            width: 90%;
        }
        .is-flex {
            gap: 2em;
        }
    }

    .overview {
        margin-top: 1em;
        margin-bottom: 1em; 
    }
}