
@media (min-width: 450px) {
    
   .home-landing {
        &:before {
            height: 9rem;
            width: 9rem;
            top: 80%;
        }
        &:after {
            height: 10rem;
            width: 10rem;
            top: 69%;
            right: 15%;
        }
    } 

    .about {
        .col-1 {
            &:before {
                left: 18%;
                width: 64%;
            }
            img {
                width: 60%;
            }
        }
        .col-2.is-flex {
            gap: 2em;
        }
    }

    .overview {
        margin-top: 1em;
        margin-bottom: 1em; 
    }
}