
@media (min-width: 450px) {
    
   .home-landing {
        &:before {
            height: 9rem;
            width: 9rem;
            top: 80%;
        }
        &:after {
            height: 10rem;
            width: 10rem;
            top: 69%;
            right: 15%;
        }
    } 

    .about {
        .col-1:before {
            top: -8px;
            left: 6%;
            width: 90%;
        }
        .is-flex {
            gap: 2em;
        }
    }

    .overview {
        margin-top: 1em;
        margin-bottom: 1em; 
    }
}