@use '../utilities' as *;

    
@media (min-width: 768px) {

    .nav-container {
        align-items: center;
    }
    .gn {
        display: block;
        position: static;
        margin-left: auto;
    }
    .gn-trig {
        display: none;
    }
    .gn {
        a {
            margin-top: 0;
            padding: 0em 1.6em;
            font-size: $small;
            font-weight: $light;
            transition: .30s ease;  
            &:last-child {
                padding-right: 0;
            }
        }
        img {
            padding: 0;
            margin-bottom: 4px;
            height: 1.2em;
            transition: .35s ease;
        }
        .is-flex li:nth-child(1) {
            display: none;
        }
    }
    .gn-items {
        flex-direction: row;
        position: static;
        height: 5vh;
        justify-content: flex-end;
        background-color: #fff;
        transform: translateX(0%);
        a {
            opacity: 1;
        }
    }

    .home-landing, .projects, .about, .proj-landing, .info, .overview, .more-projects {
        max-width: 740px;
    }

    .home-landing {
        h1 {
            font-size: 3rem;
            max-width: 900px;
        }
        &:before {
            height: 12rem;
            width: 12rem;
            top: 75%;
        }
        &:after {
            height: 13rem;
            width: 13rem;
            top: 61%;
            right: 12%;
        }
    }
    
    .projects {
        justify-content: space-evenly;
        gap: 6em;
    }

    .artifact {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            img {
                width: 100%;
            }
        }
        .col-2 {
            flex-basis: 50%;
            max-width: 50%;
            .desc {
                text-align: left;
            }
        }
    }

    .about {
        margin-top: 9em;
        .col-1 {
            &:before {
                top: 2px;
                left: 28%;
                height: 100%;
                width: 44%; 
            }
            img {
                width: 40%; 
            }
        }
        .col-2 {
            width: 70%;
        }
    }

    .proj-landing {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        .col-1 {
            flex-basis: 60%;
            max-width: 60%;
        } 
        .col-2 {
            flex-basis: 40%;
            max-width: 40%; 
        }
    }

    .info {
        .is-flex {
            justify-content: space-around;
        }
    }

    .overview {
        .is-flex:first-of-type p {
            width: 70%;
        }
    }
}