@use '../utilities' as *;

@media (min-width: 992px) {
    
    header {
        h2:hover {
            color: #9fd3e8;
        }
        .gn {
            a:hover {
                color: #9fd3e8;
            }
            img:hover {
                transform: translateY(-4px);
            }
        }
    }
    
    .home-landing, .projects, .about, .proj-landing, .info, .overview, .more-projects {
        max-width: 970px;
    }
    
    .btn:hover {
        color: #fff;
        transform: translateY(-4px);
    }

    .home-landing {
        p {
            font-size: 1.2rem;
        }
        &:before {
            height: 14rem;
            width: 14rem;
            top: 70%;
        }
        &:after {
            height: 15rem;
            width: 15rem;
            top: 55%;
            right: 11%;
        }
    }

    .projects {
        .artifact {
            .col-2 {
                .align {
                    .title {
                        font-size: 3rem;
                    }
                    .desc {
                        font-size: 1.2rem;
                        margin-top: 1em;
                    }
                }
            }
        }
        .image-hover {
            position: relative;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                display: flex;
                border-radius: 5px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity ease 0.4s;
                color: #fff;
                &:hover {
                    opacity: 1;
                }
                .ol-title {
                    display: contents;
                    font-size: 3.5rem;
                    font-weight: $bold;
                }
            }
        }
    }

    .about {
        height: 90vh;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        gap: 0; 
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            text-align: center;
            &:before {
                left: 5%;
                width: 90%; 
            }
            img {
                width: 80%;
            }
        }
        .col-2 {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .proj-landing {
        gap: 2.5em;
        .col-1 {
            flex-basis: 55%;
            max-width: 55%;
        }
    }

    .overview {
        .is-flex:first-of-type p {
            width: 55%;
        }
    }

    footer {
        img:hover {
            transform: translateY(-4px);
        }
    }
}