@use '../utilities' as *;

@media (min-width: 992px) {
    
    header {
        h2:hover {
            color: #9fd3e8;
        }
    }

    .gn {
        a:hover {
            color: #9fd3e8;
        }
        img:hover {
            transform: translateY(-4px);
        }
    }
    
    .home-landing, .projects, .about, .proj-landing, .info, .overview, .more-projects {
        max-width: 970px;
    }
    
    .btn:hover {
        color: #fff;
        transform: translateY(-4px);
    }

    .home-landing {
        p {
            font-size: 1.2rem;
        }
        .btn {
            margin-top: 2em;
            font-size: 1.1rem;
        }
        &:before {
            height: 14rem;
            width: 14rem;
            top: 70%;
        }
        &:after {
            height: 15rem;
            width: 15rem;
            top: 55%;
            right: 11%;
        }
    }

    .projects {
        .image-hover {
            position: relative;
            p {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: 0.45s;
                color: #fff;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .artifact {
        .col-2 {
            .desc {
                .title {
                    font-size: 3rem;
                }
                .desc {
                    font-size: 1.2rem;
                    margin-top: 1em;
                }
            }
        }
    }

    .about {
        height: 90vh;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        gap: 0; 
        .col-1 {
            flex-basis: 50%;
            max-width: 50%;
            &:before {
                left: 10%;
                width: 80%; 
            }
            img {
                width: 75%;
            }
        }
        .col-2 {
            flex-basis: 40%;
            max-width: 40%;
        }
    }

    .proj-landing {
        gap: 2.5em;
        img {
            flex-basis: 55%;
            max-width: 55%;
        }
    }

    .overview {
        margin: 0 auto;
        .is-flex p {
            width: 55%;
        }
    }

    footer {
        img:hover {
            transform: translateY(-4px);
        }
    }
}