/*
|------------------------------------------
|  Global
|------------------------------------------
*/
body {
    background-color: #fff;
    font-family: 'Poppins';
}

header footer {
    margin-right: auto;
    margin-left: auto;
}

.intro, .projects, .bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5em;
    margin-right: auto;
    margin-left: auto;
}

/*
|------------------------------------------
|  Helper Classes
|------------------------------------------
*/

.is-flex {
    display: flex;
    justify-content: center;
}

img {
    cursor: pointer;
}

/*
|------------------------------------------
|  Typography
|------------------------------------------
*/
h1 {
    font-weight: 300;
}

a {
    text-decoration: none;
    display: block;  
}

p {
    font-weight: 300;
    font-size: 1rem;
}

.btn {
    font-family: 'Poppins';
    cursor: pointer;
}

/*
|------------------------------------------
|  Header
|------------------------------------------
*/
header {
    padding: 1em 1.5em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    transition: .3s ease;
    background-color: #fff;
    justify-content: space-between;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
}

/*
|------------------------------------------
|  Nav
|------------------------------------------
*/
.gn {
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    display: none;
}

.gn-trig {
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    display: flex;        
    justify-content: flex-end;
    flex-basis: 100%;
    max-width: 100%;
}

.gn-items {
    position: absolute;
    right: 0px;
    top: -50px;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    background-color: #dddddd;
}

.gn a {
    text-decoration: none;
    margin-top: -50px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #000;
}

.gn img {
    padding: 0 0.4em;
    height: 1em;
}
/*
|------------------------------------------
|  Burger
|------------------------------------------
*/
.burger {
    position: absolute;
    background: #000;
    width: 20px;
    height: 2px;
    right: 0px;
    top: 50%;
    z-index: 1;
}

.burger:before, .burger:after {
    content: '';
    display: block;
    position: absolute;
    background: #000;
    width: 30px;
    height: 2px;
    right: 0;
} 

.burger:before {
    top: 7px;
}

.burger:after {
    bottom: 7px;
}

.burger, .burger:before, .burger:after {
    transition-property: transform, top, background;
    transition-duration: .45s;
}

.gn-trig.is-active .burger:before {
    transform: rotate(45deg) ;
    background-color: #fff;
    top: -2px;
}

.gn-trig.is-active .burger:after {
    transform: rotate(-45deg);
    background-color: #fff;
    top: -2px;
}

.gn-trig.is-active .burger {
    background: rgba(117, 111, 102, 0);
}

/*
|------------------------------------------
|  Intro - Home
|------------------------------------------
*/
.intro {
    min-height: 100vh;
    flex-direction: column-reverse;
}

.intro h1 {
    font-size: 1.7rem;
    line-height: 1.7;
    position: relative;
}

/*
|------------------------------------------
|  Projects — Home
|------------------------------------------
*/
.projects {
    height: max-content;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3em;
}

.artifact img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    z-index: 2;
}

.artifact .col-2 {
    margin-top: 1.5em;
}

.artifact .title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.4em;
}

.artifact .desc {
    font-weight: 300;
}

/*
|------------------------------------------
|  Bio - About
|------------------------------------------
*/

.bio {
    height: max-content;
    margin-top: 4em;
    margin-bottom: 4em;
    gap: 2.5em;
}

.bio .is-flex {
    flex-direction: column;
    gap: 2em;
}

.bio .col-1 {
    text-align: center;
    /* position: relative; */
}

.bio img {
    width: 15em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.bio p {
    line-height: 2;
    position: relative;
}

.bio p:nth-child(1)::before {
    content: '';
    display: block;
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #b5b5b5;
    top: -16px;
    left: 35%;
}

.bio .btn {
    background: none;
    border: none;
    border-bottom: 0.5px solid #b5b5b5;
    width: fit-content;
    padding: 0;
    position: relative;
}

/*
|------------------------------------------
|  Footer
|------------------------------------------
*/

footer {
    display: flex;
    min-height: 4em;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1em;
    text-align: center;
}

footer img {
    height: 1.3em;
    padding: 0 0.5em;
}

footer p {
    font-size: 0.8rem;
}

/*
|------------------------------------------
|  Media Queries
|------------------------------------------
*/

@media only screen and (min-width: 320px) {

    .intro h1 {
        font-size: 2rem;
    }

    .bio {
        gap: 3em;
    }

    .bio p:nth-child(1)::before {
        top: -20px;
    }
}

@media only screen and (min-width: 576px) {

    header {
        padding: 1em 2em;
    }

    .intro, .projects, .bio {
        padding: 0 2em;
    }

    .projects .artifact {
        margin-bottom: 4em;
    }

    .artifact .title {
        font-size: 2rem;
    }

    .bio {
        margin-top: 2em;
    }

    .bio img {
        width: 20em;
    }

    .bio .col-2 {
        width: 80%;
        margin: 0 auto;
    }

    .bio p:nth-child(1)::before {
        top: -23px;
        left: 40%;
        width: 20%;
    }

    footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        padding: 1em 2em;
    }

    footer p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {

    header {
        padding: 1em 3em;
    }

    .intro, .projects, .bio {
        padding: 0 3em;
    }

    .gn {
        display: block;
        position: static;
    }

    .gn-trig {
        display: none;
    }

    .gn-items {
       flex-direction: row;
       position: static;
       height: 5vh;
       justify-content: flex-end;
       background-color: #fff;
    }

    .gn a {
        margin-top: 0;
        padding: 0em 1.6em;
        font-size: 1em;
        font-weight: 300;
    }

    .gn a:last-child {
        padding-right: 0;
    }

    .gn img {
        padding: 0;
        margin-bottom: 4px;
        height: 1.2em;
    }

    .gn .is-flex li:nth-child(1) {
        display: none;
    }

    .projects {
        justify-content: left;
        justify-content: space-evenly;
        gap: 3em;
        text-align: center;
    }

    .projects .artifact {
        display: flex;
        align-items: center;
    }

    .projects .artifact:nth-of-type(2) {
        flex-direction: row-reverse;
    }

    .artifact .col-1 {
        flex-basis: 55%;
        max-width: 55%;
    }

    .artifact .col-2 {
        flex-basis: 45%;
        max-width: 45%;
    }
}

@media only screen and (min-width: 992px) {

    header {
        padding: 1em 4em;
    }

    .intro, .projects, .bio {
        padding: 0 4em;
    }

    .bio {
        flex-direction: row;
        height: 100vh;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        gap: 0;
    }

    .bio .col-1 {
        flex-basis: 50%;
        max-width: 50%;
        text-align: left;
    }

    .bio img {
        width: 23em;
    }

    .bio .col-2 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .bio p:nth-child(1)::before {
        display: none;
    }

    /* .bio .col-1 {
        text-align: right;
    }
    
    .bio .col-2 {
        flex-basis: 40%;
        max-width: 40%;
    }
    
    .bio p:nth-last-of-type(1) {
        margin: 2em 0;
    } */

    footer {
        padding: 1em 4em;
    }

}

@media only screen and (min-width: 1200px) {

    .intro, .projects, .bio {
        max-width: 1140px;
    }

    .projects .artifact {
        margin-bottom: 5em;
    }

    .bio .col-1 {
        text-align: center;
    }

    .bio .col-2 {
        flex-basis: 40%;
        max-width: 40%;
    }

}
