/*
|------------------------------------------
|  Global
|------------------------------------------
*/
body {
  background-color: #fff;
  font-family: "Poppins";
}
body main {
  overflow: hidden;
}

.home-landing, .projects, .about, .proj-landing .skills, .overview, .more-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1em;
  margin-right: auto;
  margin-left: auto;
}

.bg {
  background-color: #f0f8ff;
}

img {
  cursor: pointer;
}

/*
|------------------------------------------
|  Typography
|------------------------------------------
*/
h1, h2 {
  font-weight: 500;
  font-size: 2rem;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}

/*
|------------------------------------------
|  Helper Classes
|------------------------------------------
*/
.is-flex {
  display: flex;
  justify-content: center;
}

.btn {
  font-family: "Poppins";
  cursor: pointer;
  background: none;
  border: none;
  background-color: #9fd3e8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  transition: 0.45s ease;
  position: relative;
}

/*
|------------------------------------------
|  JS Paralax Animation
|------------------------------------------
*/
.hidden {
  position: relative;
  transform: translateX(300px);
  opacity: 0;
  transition: 1.1s all ease;
}
.hidden:nth-of-type(1) {
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: 1.1s all ease;
}
.hidden:nth-of-type(3) {
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: 1.1s all ease;
}
.hidden .show {
  transform: translateX(0);
  opacity: 1;
}

/*
|------------------------------------------
|  Header / Nav
|------------------------------------------
*/
header {
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  transition: 0.3s ease;
}
header h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
header .nav-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}
header .gn {
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;
  display: none;
}
header .gn-trig {
  position: relative;
  width: 30px;
  height: 20px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  max-width: 100%;
}
header .gn-items {
  position: absolute;
  right: 0px;
  top: -50px;
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  background-color: #9fd3e8;
}
header .gn a {
  text-decoration: none;
  margin-top: -50px;
  font-size: 1.3rem;
  font-weight: 300;
  color: #000;
}
header .gn img {
  padding: 0 0.4em;
  height: 1em;
}

/*
|------------------------------------------
| Burger Nav
|------------------------------------------
*/
.burger {
  position: absolute;
  background: #000;
  width: 20px;
  height: 2px;
  right: 0px;
  top: 50%;
  z-index: 1;
}
.burger:before, .burger:after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  width: 30px;
  height: 2px;
  right: 0;
}
.burger:before {
  top: 7px;
}
.burger:after {
  bottom: 7px;
}

.burger, .burger:before, .burger:after {
  transition-property: transform, top, background;
  transition-duration: 0.45s;
}

.gn-trig.is-active .burger:before {
  transform: rotate(45deg);
  background-color: #fff;
  top: -2px;
}
.gn-trig.is-active .burger:after {
  transform: rotate(-45deg);
  background-color: #fff;
  top: -2px;
}
.gn-trig.is-active .burger {
  background: rgba(255, 255, 255, 0);
}

/*
|------------------------------------------
|  home-landing - Home
|------------------------------------------
*/
.home-landing {
  min-height: 100vh;
  gap: 1em;
}
.home-landing h1 {
  position: relative;
  line-height: 1.4;
}
.home-landing h1:before {
  content: "";
  display: block;
  position: absolute;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  top: 7em;
  left: 2em;
  background-color: #9fd3e8;
  opacity: 0.25;
  z-index: -1;
}
.home-landing h1:after {
  content: "";
  display: block;
  position: absolute;
  height: 5em;
  width: 5em;
  top: 9.5em;
  left: 4.55em;
  background-color: #9fd3e8;
  z-index: -2;
  opacity: 0.15;
}
.home-landing .btn {
  margin-top: 1em;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */